.home {
  min-width: 760px;
  width: min-content;
  height: 600px;
  background-color: white;
  margin: 30px 0;
  padding: 30px 40px;
}

.home-about {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home-about-title {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.home-about-title::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: red;
  display: block;
  margin: 3px 0;
}

.home-about-des {
  text-align: left;
  font-size: 14px;
  margin: 0;
}

.home-skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
}

.home-skills-title {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.home-skills-title::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: red;
  display: block;
  margin: 3px 0;
}

.home-skill-items {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
