:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(236, 162, 225), rgb(31, 187, 225));
}
